<footer class="siteFooter" aria-hidden="true">			
    <div class="siteFooter__info">
        <p>© 2019 WTBU</p>
    </div>			
    <ul class="siteFooter__links">
        <li class="siteFooter__bu"><a href="http://www.bu.edu">Boston University</a></li>
        <li class="siteFooter__com"><a href="http://www.bu.edu/com/">College of Communication</a></li>
    </ul>
    <ul class="siteFooter--socials">
        <li class="siteFooter__tumblr"><a title="Tumblr" href="http://wtburadio.tumblr.com/">Tumblr</a></li>
        <li class="siteFooter__twitter"><a title="Twitter" href="https://twitter.com/WTBU">Twitter</a></li>
        <li class="siteFooter__instagram"><a title="Instagram" href="https://www.instagram.com/WTBUradio/"></i>Instagram</a></li>
        <li class="siteFooter__facebook"><a title="Facebook" href="https://www.facebook.com/wtburadio/"></i>Facebook</a></li>
    </ul>
</footer>