<footer class="siteFooter has-info-links-social" role="contentinfo">			
    <div class="siteFooter-content">
        <div class="siteFooter-info"><p>© 2019 WTBU</p>
        </div>			
        <nav class="siteFooter-links" role="navigation">
            <ul id="siteFooter-links-menu" class="siteFooter-links-menu">
                <li id="menu-item-1737" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1737"><a href="http://www.bu.edu">Boston University</a></li>
                <li id="menu-item-1738" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1738"><a href="http://www.bu.edu/com/">College of Communication</a></li>
            </ul>
        </nav>
        <nav class="siteFooter-social" role="navigation">
            <ul id="siteFooter-social-menu" class="siteFooter-social-menu">
                <li id="menu-item-1721" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1721"><a title="Tumblr" href="http://wtburadio.tumblr.com/"><i aria-hidden="true"></i><span>Tumblr</span></a></li>
                <li id="menu-item-1727" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1727"><a title="Twitter" href="https://twitter.com/WTBU"><i aria-hidden="true"></i><span>Twitter</span></a></li>
                <li id="menu-item-1729" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1729"><a title="Instagram" href="https://www.instagram.com/WTBUradio/"><i aria-hidden="true"></i><span>Instagram</span></a></li>
                <li id="menu-item-1733" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1733"><a title="Facebook" href="https://www.facebook.com/wtburadio/"><i aria-hidden="true"></i><span>Facebook</span></a></li>
            </ul>
        </nav>
    </div>
</footer>