<header class="masthead" role="banner">
        <nav class="primaryNav" role="navigation">
            <a href="#primaryNav-menu" class="navToggle"><span>Menu</span></a>

            <a href="#quicksearch" class="searchToggle"><span>Search</span></a>

            <ul id="primaryNav-menu" class="primaryNav-menu ">
                <li class="page_item page-item-1742">
                    <a class="level_1" href="http://sites.bu.edu/wtbu/music/" title="Navigate to: Music">Music</a>

                    <ul>
                        <li class="page_item page-item-41">
                            <a class="level_2" href="http://sites.bu.edu/wtbu/music/music-reviews/"
                                title="Navigate to: Music Reviews">Music Reviews</a>
                        </li>
                        <li class="page_item page-item-456">
                            <a class="level_2" href="http://sites.bu.edu/wtbu/music/show-previews/"
                                title="Navigate to: Show Previews">Show Previews</a>
                        </li>
                        <li class="page_item page-item-43">
                            <a class="level_2" href="http://sites.bu.edu/wtbu/music/interviews/"
                                title="Navigate to: Interviews">Interviews</a>
                        </li>
                        <li class="page_item page-item-1755">
                            <a class="level_2" href="http://sites.bu.edu/wtbu/music/lotd/"
                                title="Navigate to: Left of the Dial">Left of the Dial</a>
                        </li>
                        <li class="page_item page-item-1753">
                            <a class="level_2" href="http://sites.bu.edu/wtbu/music/sessions/"
                                title="Navigate to: In-Studios">In-Studios</a>
                        </li>

                    </ul>
                </li>
                <li class="page_item page-item-28">
                    <a class="level_1" href="http://sites.bu.edu/wtbu/sports/" title="Navigate to: Sports">Sports</a>
                </li>
                <li class="page_item page-item-32">
                    <a class="level_1" href="http://sites.bu.edu/wtbu/the-beat/" title="Navigate to: The Beat">The
                        Beat</a>
                </li>
                <li class="page_item page-item-1749">
                    <a class="level_1" href="http://sites.bu.edu/wtbu/talk/" title="Navigate to: Talk">Talk</a>

                    <ul>
                        <li class="page_item page-item-30">
                            <a class="level_2" href="http://sites.bu.edu/wtbu/talk/bu-in-the-morning/"
                                title="Navigate to: BUITM">BUITM</a>
                        </li>
                        <li class="page_item page-item-6">
                            <a class="level_2" href="http://sites.bu.edu/wtbu/talk/news/"
                                title="Navigate to: News">News</a>
                        </li>

                    </ul>
                </li>
                <li class="page_item page-item-2407">
                    <a class="level_1" href="http://sites.bu.edu/wtbu/podcasts/"
                        title="Navigate to: Podcast">Podcast</a>
                </li>

            </ul>
            <nav class="utilityNav" role="navigation">
                <ul id="utilityNav-menu" class="utilityNav-menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1698"><a
                            href="http://sites.bu.edu/wtbu/schedule/programming/schedule/">Schedule</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1699"><a
                            href="http://sites.bu.edu/wtbu/interact/about-us/">About Us</a></li>
                    <li
                        class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-49 current_page_item menu-item-1700">
                        <a href="http://sites.bu.edu/wtbu/interact/contact-us/">Contact Us</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1741"><a
                            href="http://sites.bu.edu/wtbu/sponsor/">Sponsor</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1732"><a
                            href="http://sites.bu.edu/wtbu/dj/">DJ</a></li>
                </ul>
            </nav>
        </nav>

        <form role="search" method="get" action="https://search.bu.edu/" id="quicksearch">
            <fieldset>
                <legend class="screen-reader-text"><span>Search</span></legend><input type="hidden" name="site"
                    value="http://sites.bu.edu/wtbu"><input type="hidden" name="context" value="site" />
                <label>
                    <span class="screen-reader-text">Search for:</span>
                    <input name="q" type="text" aria-label="Search" class="search-field" id="q"
                        placeholder="Search site&hellip;" title="Search for:" />
                </label><input class="button search-submit" type="submit" name="do_search" value="Search" />
            </fieldset>
        </form>
    </div>
</header>