<header role="banner">
    <nav class="topBar clearfix" role="navigation">
        <a href="{{ site.baseurl }}/"><div class="home-button">
               <div class="home-button__icon">{% include wtbu-vector.html %}</div>
        </div></a>
        {% for entry in site.data.navigation %}
            {% if entry.dropdown %}
                <div class="dropdown">
                    <button onclick="showLinks('{{ entry.name }}-dropdown')" class="topBar__link dropdown__button">{{ entry.name }} {%include down-arrow.html %}</button>
                    <div id="{{ entry.name }}-dropdown" class="dropdown-content">
                        {% for link in entry.dropdown %}
                        <a class="dropdown-content__link" href="{{ site.baseurl }}{% link {{ link.location }} %}">{{ link.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                {% if entry.location %}
                    <a class="topBar__link" target="_blank" rel="noopener noreferrer" href="{{ site.baseurl }}{% link {{ entry.location }} %}" title="Navigate to: Podcasts">{{ entry.name }}</a>
                {% elsif entry.external %}
                    <a class="topBar__link" href="{{ entry.external }}" title="Navigate to: Podcasts">{{ entry.name }}</a>
                {% endif %}
            {% endif %} 
        {% endfor %}
    </nav>
</header>