.siteFooter {
	/*height: 50px;*/
	padding: 20px;
	background-color: #000;
	text-align: center;
	box-shadow: 0 50vh 0 50vh #000;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	> div {
		flex-grow: 1;
		min-width: 180px;
		padding: 10px;
	}
}

.siteFooter__link, .siteFooter__link:visited {
	text-decoration: none;
	color:$footer-color;
}

.siteFooter__link:hover {
	color: white;
	fill: white;
} 

.siteFooter__social {
	width: 30px;
	height: 30px;
	padding: 0px 5px;
}

.siteFooter__social>path:hover {
	fill:white;
}