.topBar {
    background-color: $body-color;
    width: 100%;
    overflow: hidden;

    a {
        color: $background-color;
        text-decoration: none;
    }

    a:hover {
        color: $main-color;
        text-decoration: none;
    }

    a.active {
        color: $main-color;
        text-decoration: none;
    }

    /* Hide the link that should open and close the topnav on small screens */
    .hamburger {
        display: none;
    }
}

.topBar__link {
    float: left; 
    display: block;
    text-align: center;
    padding: 24px 15px;
    text-transform: uppercase;
}

.down-arrow {
    width: 10px;
    pointer-events: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropdown__button {
  cursor: pointer;
  font-size: 1em;  
  @include heading-font;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  margin: 0;
}

.dropdown:hover .dropdown__button, .dropdown__button:focus {
    color: $main-color;
}

.dropdown__button:active {
    color: $main-color;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 74px;
  background-color: $body-color;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: $main-color;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
  }

.show {
  display: block;
}

/* On phones, */
@media screen and (max-width: 600px) {
    /* Hide all links, except for the first one ("Home"). Show the link that should open and close the topnav (.hamburger) */
    .topBar a:not(:first-child), .dropdown .dropdown__button {
      display: none;
    }
    .topBar a.hamburger {
      float: right;
      display: block;
    }

    /* The "responsive" class is added to the topBar with JavaScript when the user clicks on the icon. 
       This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
    .topBar.responsive {position: relative;}
    .topBar.responsive a.hamburger {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topBar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topBar.responsive .dropdown {float: none;}
    .topBar.responsive .dropdown-content {position: relative;}
    .topBar.responsive .dropdown .dropdown__button {
        display: block;
        width: 100%;
        text-align: left;
    }

    /* Style the hamburger */
    .hamburger-button {
        width: 35px;
        height: 30px;
        background-color: $body-color;
        float: right; 
        display: block;
        text-align: center;
        padding: 20px;
        font-size: 1.25em;
    }

    .home-button {
        width: 100%;
    }
  }


/* WTBU Home Button Styling */
.home-button {
    width: 200px;
    height: 55px;
    background-color: $main-color;
    float: left; 
    display: block;
    text-align: center;
    padding: 10px 20px;
    font-size: 1.25em;
}

@mixin fadeLetter ($color1, $color2, $color3){
    0% { fill: $main-color; }
    25%  { fill: $color1; }
    50% { fill: $color2; }
    75% { fill: $color3; }
    100% { fill: $body-color; }
}

@keyframes w { 
    @include fadeLetter($body-color, $body-color, $body-color);
}
@keyframes t { 
    @include fadeLetter($main-color, $body-color, $body-color);
}
@keyframes b { 
    @include fadeLetter($main-color, $main-color, $body-color);
}
@keyframes u { 
    @include fadeLetter($main-color, $main-color, $main-color);
}


/* SVG Styling */
.home-button__icon {
    fill:black;

    #W, #Stripe-W {
        animation-name: w;
        animation-duration: 0.5s;
    }

    #T, #Stripe-T {
        animation-name: t;
        animation-duration: 0.5s;
    }

    #B, #Stripe-B {
        animation-name: b;
        animation-duration: 0.5s;
    }

    #U, #Stripe-U{
        animation-name: u;
        animation-duration: 0.5s;
    }
}

