/* GLOBALS */

@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@mixin heading-font {
	font-family: "Dosis", sans-serif;
	font-weight: 700;
}

@mixin body-font {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}

$background-color: #ffffff;
$body-color: #000000;
$body-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

$main-color: #dd3333;
$footer-color: #888;

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Old, extra safe backup clearfix 
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
} */

@import '_normalize';
@import 'typography';

@import 'footer', 'header', 'home';
@import 'pages';
