<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <script src="{{ "/assets/js/main.js" | relative_url }}">
    </script>
  </head>
  <body>
    {% include header.html %}
    <div class="content">
      <div class="page__header">
        <div class="page__logo">{% include wtbu-vector.html %}</div>
        <h3 class="page__tagline"> The Beat of Boston University | WTBURadio.org</h3>
      </div>
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>
