<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function showLinks(id) {
            console.log("test");
            console.log(id);
            document.getElementById(id).classList.toggle("show");
            console.log(document.getElementById(id).classList);
        }
    
        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function(event) {
        if (!event.target.matches('.dropdown__button')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
            }
            }
        }
        } 
    </script>
  </head>
  <body>
    {% include header.html %}
    <div class="content">
      <div class="page__header">
        <div class="page__logo">{% include wtbu-vector.html %}</div>
        <h3 class="page__tagline"> The Beat of Boston University | WTBURadio.org</h3>
      </div>
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>
